{
color: #455560;
color: #605745;

color: #2c3038;
color: #38382c;


color: #7638FF;
color: #ffe138;

color: #377dff;
color: #ffc037;

color: #1B2559;
color: #59581b;

background-color: #7638ff !important;
background-color:rgb(255, 219, 56) !important;


background-color: #621aff !important;
background-color:rgb(255, 213, 26) !important;

#ffb61a;
#fbea00


#028ee1
#e1cb02

#00bcd4
#d4bf00

#7638FF
#ffe138
}